*{
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  font-family: 'Barlow', sans-serif;
}

body{
  min-width: 600px;
  background: #21211a;
  /* font-family: 'Barlow', sans-serif; */
  color: white;
  background-color: #21211a;
  margin: 10px;
  padding: 5px;
}

.padre{
  display: flex;
  flex-flow: column nowrap;
}

.header{
  margin: 10px;
  border-radius: 10px;
  background: #f9d423;
  display: flex;
  flex-flow: column wrap;
}

.menu{
  display: flex;
  flex-flow: row nowrap;
  height: 150px;
  align-items: center;
}

.logo{
  flex: 1 1 auto;
  transition: 0.5s;
}

.logo:hover{
  transform: scale(0.9);
  
}

.img_logo{
  margin-left: 20px;
  width: 300px; 
}

.nav_menu{
  background: #f9d423;
  flex: 5 1 auto;
}

.nav_menu ul li {
  font-weight: 600;
  float: left;
  list-style-type: none;
  margin: 0px;
  padding: 0px;


}

.nav_menu ul li a {
  display: block;
  color: black;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 0.5s ease;
}

.nav_menu ul li a:hover {
  color: white;
  background-color: #fa4747;
  
}
.pacman{
  flex: 1 1 auto;
  height: 80px;
}

.social{
  margin-top: 40px;
  flex: 1 1 auto;
}


.icon-list {
  display: flex;
  flex-flow: column nowrap;
  transform: translateY(-20%); 
}

.icon-list a {
transition: all 0.3s ease;
color:white;
font-size: 2rem;
}

.icon-list a:hover {
color: #fa4747;
}


.articulos{
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
}

.article{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  /* background: rgb(0, 0, 0); */
  flex: 1 1 30%;
  text-align: justify;
  
}

.link_title{
  text-align: center;
  color: #f9d423;
  text-decoration: underline overline #fa4747;
  font-size: 2rem; 
}

.link_title :hover{
  color: white;
  text-decoration: underline overline #fa4747;
  
}

.link_f {
  color: #f9d423;

}

.home_image {
  border-radius: 20px;
  padding: 5px;
  width: 90%;
    
}

.img-hover :hover{
  transition: all 0.2s ease;
  filter: grayscale(65%);
}


  .cards{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
     }
    
    .cards .card{
    background: #fa4747 ;
    display: flex;
    width: 49%;
    height: auto;
    min-height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
          }
    
    .cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 20%;
    display:block;
    }

    .cards .card > .contenido-texto-card{
      width: 50%;
      justify-content: center;
      color: white;
      }

.footer{
  color: #000;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  background: #f9d423;
  display: flex;
  justify-content: left;
  align-items: center;
}

.datos{
 flex: 1 1 30%;
 padding-left: 20px;
 font-weight: 600;
 font-size: 00.8rem;
}

.copyrigth{
  flex: 1 1 40%;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  align-self: flex-end;
  padding-bottom: 10px;
}

.invader{
   flex: 1 1 30%;
   align-self: flex-end;

}

.img_invader{

  height: 120px;
 
 }

/* Comienzo de Contacto */
.header_form{
  flex: 1 1 30%;
  text-align: center;
}

.header_form h1{
  font-size: 2rem;
}

.header_form p{
  font-size: 1.5rem;
}

.header_form h1 , p{
  margin: 20px;
  font: Barlow;
}



.formulario{
    max-width: auto;

}

.formulario__label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo{
    padding: 10px;
}


.formulario__grupo-input{
    position: relative;
}

.formulario__input{
    width: 80%;
    background: #f9d423;
    border: 3px solid transparent;
    border-radius: 5px;
    height: 35px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__input:focus{
    border:3px solid #f9d423;
    outline: none;
    box-shadow:  3px 0px 30px rgba(163,163,163, 0.5);
}

.formulario__input-error{
  font-size: 12px;
  display: none;
}

.formulario__input-error-activo{
  display: block;
}

.formulario__validacion-estado{
position: absolute;
right: 240px;
top: 10px;
}

.formulario__mensaje{
  resize: none;
  height:125px;
}

.formulario__btn{
width: 30%;
text-align: center;
border: none;
border-radius: 10px 10px 10px 10px;  
cursor: pointer;
font-size: 1.5rem;
padding: 10px;
background-color: #f9d423;

}

.formulario__btn:hover{
  background-color:#af9515;
}

.contenedor_formulario{
display: flex;
flex-flow: row nowrap;
align-items: center;
}

.formulario{
flex: 1 1 50%;
}

.mapa{
flex: 1 1 50%;


}
.gmap{
  width: 80%;
}

/* Fin de Contacto */

/* Inicio de Productos */
.head_productos{
  text-align: center;
}

.head_productos h1{
  font-size: 2rem;
}

.head_productos p{
  font-size: 1.5rem;
}

.head_productos h1 , p{
  margin: 20px;
  font: Barlow;
}



.contenedor_cervezas{
  display: flex;

}

.cerveza_card{
flex: 1 1 30%;
text-align: center;
}

.cerveza_label{
  width: 90%;
}

.img_botella{
max-height: 300px;
}

.img_lata{
  max-height: 300px; 
}
  /* Fin de Productos */

/* Inicio de Quienes Somos */

.nosotros{
  text-align: center;
}

.vegan , .cruelty{
  height: 128px;
}

.equipo{
  margin: 30px;
}

.equipo h4{
  font-size: 0.9rem;
  font-weight: 500;
}

.img_equipo{
  margin-top: 30px;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;

}

.contenedor_grid{
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-template-areas: "img1 img2" "img3 img4";
}

.img1{
grid-area: img1;
}

.img2{
  grid-area: img2;
}

.img3{
  grid-area: img3;
}

.img4{
  grid-area: img4;
}
/* Fin de Quienes somos */

/* Inicio de media queries */


@media all and (max-width: 1250px){
  .menu{
    flex-direction: column;
    height: auto;
  }

  .icon-list{
    flex-direction: row;
  }

  .fa-brands{
    margin: 10px;
  }

  .contenedor_cervezas{
    flex-direction: column;
  }

  .cerveza_label{
    max-width: 500px;
  }

  .pacman{
    display: none;
  }

  .cards{
    flex-flow: column wrap;
    align-items: center;
    margin-top: 20px;

  }
  .cards .card{
width: 100%;
}
.card{
margin: 10px;
}

.img_logo{
  width: 400px;
  margin-top: 20px;
}
}

@media all and (max-width: 1000px){
  
  .contenedor_formulario{
    flex-flow: column wrap;
    align-items: stretch;
    
  }
  
  .formulario{
    flex: 1 1 auto;
    }
    
    .mapa{
    flex: 1 1 auto;
    width: 85%;
    margin-left: 15px;

    
    }
    .gmap{
      width: 100%;
      border-radius: 10px;
    }
  
  }

@media all and (max-width: 800px){
.articulos{
  flex-direction: column;
}

.contenedor_grid{
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr;
  grid-template-areas: "img1" "img2" "img3" "img4";
}

}



/* Fin de media queries */