* {
    margin: 0;
    padding: 0;

  }
     
  body {
    font-family: 'Barlow', sans-serif;
    color: white;
    background-color: #21211a;
  }
  

header {
    margin: 0.5rem;
    position: relative;
    background: #f9d423;
    height: 180px;
  }

  
  
  .columnasocial {
    display: inline-flex;
    justify-content: end;
    position: relative;
    float: right;
    padding: 10px;

    
    
  }
  
  .LOGO {
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    
  }

  li {
    float: left;
    list-style-type: none;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0.9em;
    text-decoration: none;
  }
  
  li a:hover {
    color: white;
    text-shadow: #111;
  }
  
  
  


main{
    min-height: 300px;
    
}

footer {
    position:relative;
    height: 100px;
    width: 100%;
    background-color: #f9d423;
    color: white;
    font-size: 20px; 
  }
  


.formulario{
    display: grid;
    grid-template-columns: 6fr 6fr;
    font-family: Barlow;
}

.formulario__label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo{
    padding: 10px;
}
    

.formulario__grupo-input{
    position: relative;
}

.formulario__input{
    width: 80%;
    background: white;
    border: 3px solid transparent;
    border-radius: 5px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__input:focus{
    border:3px solid #f9d423;
    outline: none;
    box-shadow:  3px 0px 30px rgba(163,163,163, 0.5);
}

/* /* CSS Daniela debajo  */


  .menu {
    position: relative;
    text-shadow: #111;
    float: right;
    padding-top: 120px;
  }
  


  
  .footer-menu {
    position: relative;
    text-align: center;
    
    
    }
  
  .footer-menu a {
    color: black;
    font-size: 0.8em;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    }
  
  .footer-menu a:hover {
    color: white;
  }
  
  .copyright p {
    font-size: 0.6em;
    text-align: center;
  }
  
  
  
